body {
  background-color: #ff9900;
}
p{
  font-family: 'Ravi Prakash', cursive;
  font-size: 80px;
  font-weight:700px;
  position: relative;
  top: 0px;
  left: 300px;
  color:#ff9900;
  opacity:0.8; 
}
.element {
  width:40px;
  height:100px;
  background-color:#2eb8b8;
  margin:300px;
  position:absolute;
  border-radius: 80%;
  opacity: 0.7
}
.ball {
  background-color: #ff9900;
  width:300px;
  height:300px;
  border-radius: 100%;
  opacity: 0.7;
  margin: 230px;
  	
}

.square{
  width:100px;
  height:200px;
  background-color:#ffd633;
  border-radius: 60%
  opacity:0.6;
  position:fixed;
  top:50%;
  left:50%;
}