body{
	background-color: #ffdb4d;
	
}

.element{
	background-color:#0073e6;
	opacity: 0.7;
	margin: 0px;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	color:#ff9900;
	font-family: 'Baloo Bhaina', cursive;
	font-size:30px;
	margin:150px;
}